﻿@{
    Layout = null;
}

@{
    ViewBag.Title = Resources.Title;
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}

@helper selected(string c, string culture)
{
    if (c == culture)
    {
        @:checked="checked"
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    

    @using(Html.BeginForm("SetCulture", "Home"))
    {
            <div class="control-group">
                <div class="controls">
                    <label for="ru-ru">
                        <input name="culture" id="ru-ru" value="ru-ru" type="radio" @selected("ru-ru", culture)/> RU
                    </label>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label for="en">
                        <input name="culture" id="en" value="en" type="radio" @selected("en", culture)/> EN
                    </label>
                </div>
            </div>
    }

    <div>
        @Resources.Name
        <br/>
        @Resources.Surname
        <br/>
        @Resources.MiddleName
    </div>

    @Scripts.Render("~/JavaScript/ref")

    <script type="text/javascript">
        (function ($) {
            $("input[type = 'radio']").click(function () {
                $(this).parents("form").submit(); // post form
            });

        })(jQuery);
    </script>
</body>
</html>
